{% extends 'base.html.twig' %}

{% block title %}ðŸŽ€HOST!{% endblock %}

{% block body %}
<style>
    body{

        background-image: url("https://i.pinimg.com/564x/6a/72/29/6a722934c76274c900f48e20b61c0553.jpg");
        color: #C999AF;
        -webkit-text-stroke-width: 2px; 
        text-align: center;
    }

    h1{
        color: #C999AF;
        -webkit-text-stroke-width: 3px; 
    }

    a{
        -webkit-text-stroke-width: 1px;
        color: #C71585; 
        border: 2px solid #C71585;
    }
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{host}}</h1>
    <img src="https://i.pinimg.com/564x/43/2e/08/432e08f2a6e0b1200d265977db157229.jpg"
        alt="ðŸˆ" width="200" height="210" align="center"/>

    <p>Paginas de WEB's:</p>
    <ul>
        <li><a href="/page/10">Page.10</a></li>
        {#<img src="https://i.pinimg.com/564x/cb/d5/2d/cbd52d6a7184cc12771a9e141ab3b13d.jpg" width="100" height="100">#}
        <li><a href="/page/20">Page.20</a></li>
        {#<img src="https://i.pinimg.com/236x/b0/84/bb/b084bbc6ad6b8ce6448feb10a0acc047.jpg" width="100" height="100">#}
        <li><a href="/page/30">Page.30</a></li>
        {#<img src="https://i.pinimg.com/236x/a1/ed/af/a1edafd775bd499344c5e6fc13a76d1d.jpg" width="100" height="100">#}
    </ul>
</div>
{% endblock %}
